.modal-card {
    width: 80%;
    height: 90%;
}

.modal-backround {
    background: rgba(0, 0, 0, 0.6);
}

@media (width >=768px) {
    .modal-card {
        width: 80%;
        height: 80%;
    }
}

@media (width >=1440px) {
    .modal-card {
        width: 80%;
        height: 80%;
    }
}