:root {
  --column-background: hsl(0, 0%, 96%);
  --outline-color: black;
}

.theme-dark {
  --column-background: hsl(0, 0%, 21%);
  --outline-color: white;
}

body {
  font-family: Ubuntu, sans-serif;
  height: 100vh;
  padding: 20px;
  position: relative;
}